.container {
    display: flex;
    flex-direction: column;
    height: 610px;
    width: 300px;
    border: 1px solid black;
    padding: 0 20px;
    justify-content: flex-end;
    position: relative;
    margin: 20px;
  
  }
  
  .label {
    position: absolute;
    top: -10px;
    background: white;
    padding: 0 10px;
  }
  
  .item {
    height: 80px;
    width: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 25px;
    display: none;
    margin-bottom: 20px;
  }
  